:root {
    --primary-color: #50CC75
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('SourceSansPro-Regular.ttf') format('truetype');
}

body {
    background: url('./bg.png');
    margin: unset;
    overflow: hidden;
}

a {
    font-family: 'SourceSansPro-Bold', sans-serif;
    font-size: 30px;
    color: var(--primary-color);
    text-decoration: none;

    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

a:hover {
    color: #84db9e;
}

#website {
    position: fixed;
    text-shadow: 0px 0px 40px #50CC75;
    top: 108px;
    left: 150px;
}

#discord {
    position: fixed;
    height: 75px;
    left: 1180px;
    top: 40px;
    filter: drop-shadow(0px 0px 40px #50CC75);
}

#instagram {
    position: fixed;
    height: 78px;
    left: 1075px;
    top: 36px;
    filter: drop-shadow(0px 0px 40px #50CC75);
}

#trackyvote {
    position: fixed;
    height: 60px;
    left: 979px;
    top: 45px;
    filter: drop-shadow(0px 0px 40px #50CC75);
}

#steam {
    position: fixed;
    height: 65px;
    left: 1180px;
    top: 145px;
    filter: drop-shadow(0px 0px 40px #50CC75);
}

#launch {
    height: 70px;
    width: 275px;
}

#connectbtn {
    position: fixed;
    top: 655px;
    left: 60px;
    filter: drop-shadow(0px 0px 15px #50CC75);
}

#launch-text {
    font-family: 'SourceSansPro-Bold', sans-serif;
    /* font-size: 20px; */
    color: white;
    position: fixed;
    z-index: 2;
    top: 650px;
    left: 55px;
    box-shadow: 0px 0px 40px #50CC75;
}

#user-svg {
    position: fixed;
    height: 42px;
    color: white;
    top: 670px;
    left: 400px;
}

#playercount-text {
    font-family: 'SourceSansPro-Regular', sans-serif;
    color: white;
    position: fixed;
    top: 646px;
    left: 470px;
    font-size: 27px;
}

#server-svg {
    position: fixed;
    color: white;
    height: 42px;
    top: 670px;
    left: 615px;
}

#server-text {
    font-family: 'SourceSansPro-Regular', sans-serif;
    color: white;
    position: fixed;
    top: 646px;
    left: 675px;
    font-size: 27px;
}

#update-svg {
    position: fixed;
    color: white;
    height: 42px;
    top: 670px;
    left: 970px;
}

#update-text {
    font-family: 'SourceSansPro-Regular', sans-serif;
    color: white;
    position: fixed;
    top: 645px;
    left: 1030px;
    font-size: 27px;
}

#launchbtn {
    color: white;
    padding: 10px 25px;
    background: var(--primary-color);

    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#launchbtn:hover {
    background: #84db9e;
}

#dikkeboktor-text {
    font-family: 'SourceSansPro-Regular', sans-serif;
    top: 725px;
    left: 50%;
    position: fixed;
    color: #525252;
    transform: translate(-50%, -50%);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#votes-text {
    font-family: 'SourceSansPro-Regular', sans-serif;
    color: white;
    position: fixed;
    opacity: 0;
    top: 38px;
    left: 929px;
    font-size: 30px;
}

#tracky:hover + #votes-text {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

#steam-text {
    font-family: 'SourceSansPro-Bold', sans-serif;
    color: white;
    position: fixed;
    opacity: 0;
    top: 125px;
    left: 1075px;
    font-size: 30px;
}

#steam-redirect:hover + #steam-text {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

